<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download video</title>
    <style>
        html {
            height: 100%;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            margin: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .top {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            padding-right: 14px;
        }

        h1 {
            padding-top: 5px;
            margin: 0;
            max-width: 200px;
        }

        .logo {
            width: 50px;
            height: 50px;
            margin-right: 14px;
        }

        button {
            padding: 14px 20px;
            border: none;
            border-radius: 10px;
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            -webkit-tap-highlight-color: transparent;
        }
    </style>
</head>
<body>
    <div class="top">
        <svg class="logo" viewBox="0 0 150 167" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 70.1392C0 43.4923 7.15256e-07 30.169 3.146 25.6867C6.29189 21.2045 18.8198 16.9162 43.8742 8.33992L48.6477 6.706L48.6495 6.70536C61.709 2.23512 68.2387 0 75 0C81.7612 0 88.2908 2.23505 101.35 6.70515L101.352 6.706L106.126 8.33992L106.127 8.34029C131.181 16.9165 143.708 21.2046 146.854 25.6867C150 30.169 150 43.4923 150 70.1392V83.2617C150 130.245 114.675 153.046 92.5117 162.727L92.5097 162.728C86.4993 165.354 83.4932 166.667 75 166.667C66.5069 166.667 63.5008 165.354 57.4903 162.729L57.488 162.727C35.3247 153.046 0 130.245 0 83.2617V70.1392ZM102.5 83.3333C102.5 98.5216 90.1882 110.833 75 110.833C59.8118 110.833 47.5 98.5216 47.5 83.3333C47.5 68.1455 59.8118 55.8333 75 55.8333C90.1882 55.8333 102.5 68.1455 102.5 83.3333ZM112.5 55.8333C118.023 55.8333 122.5 51.3563 122.5 45.8333C122.5 40.3105 118.023 35.8333 112.5 35.8333C106.977 35.8333 102.5 40.3105 102.5 45.8333C102.5 51.3563 106.977 55.8333 112.5 55.8333Z" fill="black"/>
            <path d="M122.5 45.8333C122.5 51.3563 118.023 55.8333 112.5 55.8333C106.977 55.8333 102.5 51.3563 102.5 45.8333C102.5 40.3105 106.977 35.8333 112.5 35.8333C118.023 35.8333 122.5 40.3105 122.5 45.8333Z" fill="#FF0000"/>
        </svg>
        <h1 class="title">Cloud Video Recording</h1>
    </div>
    <button id="downloadButton">Download Video</button>
    <script>
        const error = '{{ error }}';

        if (error) {
            const title = document.querySelector('h1');
            const downloadButton = document.getElementById('downloadButton');
            downloadButton.style.display = 'none';
            title.textContent = error;
        } else {
            const downloadButton = document.getElementById('downloadButton');
            downloadButton.addEventListener('click', () => {
                fetch('{{ downloadUrl }}', {
                    headers: {
                        Accept: 'video/webm',
                    }
                })
                    .then(response => {
                        console.log('response', response)
                        return response.blob()
                        })
                    .then(blob => {
                        console.log('blob', blob)
                        const a = document.createElement('a');
                        const url = window.URL.createObjectURL(blob);
                        a.href = url;
                        a.download = 'video-from-cloud.webm';
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(error => {
                        console.error(error);
                        alert('Failed to download video. Please try again.');
                    });
            });
        }
    </script>
</body>
</html>