html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: white;
}

button {
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.video-container {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  display: flex;
  justify-content: center;
}

video {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.info-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px;
}

.info-wrapper.top {
  align-items: start;
  top: 0px;
}

.info-wrapper.bottom {
  align-items: end;
  bottom: 0px;
}

.video-info {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  height: fit-content;
}

.info-wrapper img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
}

.connection.online {
  padding-right: 20px;
}

.connection.offline {
  padding-right: 20px;
}

.connection.online::after {
  background-color: rgb(76, 175, 80);
  right: 20px;
  transform: translate(0, -50%);
}

.connection.offline::after {
  background-color: rgb(237, 48, 48);
  right: 20px;
  transform: translate(0, -50%);
}

.connection::after {
  content: '';
  position: absolute;
  top: 50%;
  /* right: 20px; */
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(112, 112, 112);
  
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0px;
}

.controls-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}

.local {
  border: solid 1px red;
}

.local.active {
  background-color: rgb(237, 48, 48);
  color: white;
}

.cloud {
  border: 1px solid rgb(76, 175, 80);
}

.cloud.active {
  background-color: rgb(76, 175, 80);
  color: white;
}

.controls-info-title {
  margin: 0;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
}

.start-stop {
  position: relative;
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
}

.start-stop::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: black 4px solid;
}

.stop {
  height: 40px;
  width: 40px;
  background-color: red !important;
  border-radius: 10% !important;
}

.stop::after {
  border: red 4px solid !important;
}

.signout {
  background-color: rgba(237, 48, 48, 0.80);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 100;
}